<%- include('header'); -%>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="static/admin/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <h1>FITNESS TRACKER</h1>
                        <span>IIT Bhubaneswar Sports Council</span>
                        <p>Login with your google account</p>
                        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a><br>
                        <span><b>Rules:</b></span>
                        <p><b>1. Multiple uploads for a specific Drill on a single day will not be counted<br>
                        2. Upload in Image format for Cycling and Running and in Video format for Skipping.Uploads of other formats will not be considered. <br>3. Only users with IIT BBS mail accounts can participate.If you are logged in into some other google mail account,please do logout of that mail account and try again with your institute mail account</b></p>
                        
                        
                        <br>
                        <br>
                        <br>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>


    
    
