<%- include('header'); -%>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="static/admin/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <h1>FITNESS TRACKER</h1>
                        <span>IIT Bhubaneswar Sports Council</span>
                        <p>Login with your google account and get started with your won personalised fitness regime</p>
                        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>


    