<%- include('header'); -%>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="static/admin/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <h1>FITNESS TRACKER</h1>
                        <span>IIT Bhubaneswar Sports Council</span>
                        <p>Login with your google account</p>
                         <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a><br>
                        <br>
                        
                        
                        <br>
                        <br>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" >
    <h1 style="color:#132226;">RULES AND REGULATIONS</h1>
   <br><br> <p style="color:#0438A3;font-size:14px;"><b> 1) Log in with IITBBS mail id .<br>
       <br> 2)	Every participant must download the <i>“Strava” </i>app from the Google Playstore/Appstore.<br>
       <br> 3)	This app will be used to record the time and distance that they cover during their activity. To successfully do this, one must carry their phone with them while performing the activity.
 <br>  <br>     4)	The track record of the participants will be displayed on the website____ in the form of a leaderboard.
     <br> <br>  5)	Participants can enroll in three events, namely:
     <br>   (i) Cycling 
       <br> (ii) Running
      <br>  (iii) Skipping
      <br> <br> 6)	Cycling and Running will only require submission of time(seconds) and distance(metres) covered (via the Strava app);ie proof upload must be in the form of image format. However, for skipping, one must film themselves skipping and post the video to avoid any discrepancies;i.e proof upload must be in the form of video format. 
       <br><br> 7)	Participants that exercise for consecutive days will be given bonus points.
       <br> <br>8)	At the end of the Challenge, the final score will be calculated for each participant in the three events, and the top three winners will be announced.
       <br><br> 9)  Entries for a specific drill more than once on a particular day will not be considered.
       <br> <br>10) If logged in into some Gmail Account earlier,please do log out of it and retry again with your institute email account.Last but not the least,please allow access to whatever permissions are required in the login process.</b></p>
</div>
<%- include('footer'); -%>


    
    
