<%- include('header'); -%>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="static/admin/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <h1>FITNESS TRACKER</h1>
                        <span>IIT Bhubaneswar Sports Council</span>
                        <p>Login with your google account</p>
                         <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a><br>
                        <br>
                        
                        <span><b>Rules:</b></span>
                        <p><b>1. Multiple uploads for a specific Drill on a single day will not be counted<br>
                       2)	Every participant must download the “Strava” app from the Google Playstore/Appstore.<br>
3)	This app will be used to record the time and distance that they cover during their activity. To successfully do this, one must carry their phone with them while performing the activity.<br>
4)	The track record of the participants will be displayed on the website____ in the form of a leaderboard.<br>
5)	Participants can enroll in three events, namely:<br>
(i) Cycling <br>
(ii) Running<br>
(iii) Skipping<br>
6)	Cycling and skipping will only require submission of time and distance covered (via the Strava app). However, for skipping, one must film themselves skipping and post the video to avoid any discrepancies. <br>
7)	Participants that exercise for consecutive days will be given bonus points.<br>
8)	At the end of the Challenge, the final score will be calculated for each participant in the three events, and the top three winners will be announced. <br>9. App can be accessed only with IITBBS mail id.If logged into some other gmail account earlier,then please logout of that account and retry again.</b></p>
                        
                       
                        <br>
                        <br>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>


    
    
