<!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>+91 93814 26875</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>gsecsports.sg@iitbbs.ac.in</p>
                    </div>
                </div>
            </div>
<br><br>
            <div class="copyright-text">
                

                <div class="footer-social">
                    <a href=" https://www.facebook.com/sports.iitbbs/"><i class="fa fa-facebook"></i></a>

                    <a href="https://www.instagram.com/sports_iit_bhubaneswar/"><i class="fa fa-instagram"></i></a>

                </div>
                <br><br>
            </div>
            <p>Designed by WebnD Society,IIT Bhubaneswar</p>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script>
    history.pushState(null, null, null);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, null);
    });
</script>
    <script src="/static/admin/js/jquery-3.3.1.min.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>
    <script src="/static/admin/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/admin/js/mixitup.min.js"></script>
    <script src="/static/admin/js/jquery.slicknav.js"></script>
    <script src="/static/admin/js/owl.carousel.min.js"></script>
    <script src="/static/admin/js/main.js"></script>
</body>

</html>

