<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript" >
    $().ready(function() {
    
        history.pushState(null, null, 'login');
        window.addEventListener('popstate', function () {
            history.pushState(null, null, 'http://sports-council-web-app.herokuapp.com/');
        });
    
});</script>
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness-Webapp</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
        
      

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/admin/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/admin/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/admin/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/admin/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/admin/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/admin/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo container">
                <a href="https://www.iitbbs.ac.in/"  target="_blank">
                    <img src="/static/admin/img/logo.jpg" alt=""  height="70" width="70">
                </a>
            </div>

            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

