<%- include('header2'); -%>

<br><br><br><br><br>
  <section class="main">
    <div class="container">
      <div class="text-box col-md-offset-1 col-md-10">
        <h2>Upload exhibitions of your Performances here!!!</h2>
        <p>An athlete cannot run with money in his pockets. He must run with hope in his heart and dreams in his head.</p>
        
      </div>
        <div class="row container">

        <div class="col-sm-4">

          <center><a class="btn btn-primary rounded" href="/lbdc"><b>Cycling</b><br>Leaderboard</a>
<p>Cover some distance, on wheels that is<br><b>Upload here for cycling</b></p></center>
<div>

  <center><form action="/upload" method="post" enctype="multipart/form-data" style="text-align:center;">
    <label for="distc">Distance:</label><br>
    <input type="number" name="val" placeholder="metres"><br><br>
    <label for="distc">Time Taken:</label><br>
    <input type="number" name="valt" placeholder="minutes"><br>

<br>

    <label for="pic-cycle">Upload picture as proof:</label>
      <div style="text-align:right;">
     <input type="file" name="fileToUpload" id="fileToUpload"  style="float:right"></div>

    <input type="hidden" name="section" value="cycling" style="text-align:center;">
    <input type="submit" value="Submit" style="text-align:center;">
    <br><br>
  </form></center>

</div>


        </div>
        <div class="col-sm-4">

          <center><a  class="btn btn-primary rounded" href="/lbds"><b>Skipping</b><br>Leaderboard</a>
<p>Train your legs, Get points<br><b>Upload here for Skipping</b></p></center>
<div>


 <center> <form action="/upload" method="post" enctype="multipart/form-data" style="text-align:center;">
    <label for="reps">Repeats:</label><br>
    <input type="number" name="val" placeholder="Number of Repeats"><br><br>
<label for="distc">Time Taken:</label><br>
    <input type="number" name="valt" placeholder="seconds"><br>

<br>
    <label for="pic-skipping">Upload video as proof:</label>
<div style="text-align:right;">
      <input type="file" name="fileToUpload" id="fileToUpload" style="float:right;"></div>

      <input type="hidden" name="section" value="skipping" style="text-align:center;">
    <input type="submit" value="Submit" style="text-align:center;">
    <br><br>
  </form></center>
</div>
        </div><div class="col-sm-4">

          <center><a href="/lbdr" class="btn btn-primary rounded"><b>Running</b><br>Leaderboard</a>
<p>Run...Miles to go before you reach<br><b>Upload here for Running</b></p></center>
<div>

  <center><form action="/upload" method="post" enctype="multipart/form-data" style="text-align:center;">
    <label for="distr">Distance ran:</label><br>
    <input type="number" name="val" placeholder="metres"><br><br>
<label for="distc">Time Taken:</label><br>
    <input type="number" name="valt" placeholder="minutes"><br>


<br>
    <label for="pic-running">Upload picture as proof:</label>
<div style="text-align:right;">
      <input type="file" name="fileToUpload" id="fileToUpload" style="float:right;" ></div>

    <input type="hidden" name="section" value="running" style="text-align:center;">
    <input type="submit" value="Submit" style="text-align:center;">
    <br><br>
  </form></center>
</div>
        </div>
        </div>
      <div class="row">

      </div>
    </div>
  </section>

<%- include('footer2'); -%>
