<%- include('header2'); -%>

<br><br><br><br><br>
  <section class="main">
    <div class="container">
      <div class="text-box col-md-offset-1 col-md-10">
        <h2>Upload exhibitions of your Performances here!!!</h2>
        <p>An athlete cannot run with money in his pockets. He must run with hope in his heart and dreams in his head.</p>
        <h2><b>Rules: </b></h2>
        <p>1. Multiple uploads for a specific Drill on a single day will not be counted</p>
                        <p>2. Upload in Image format only</p>
      </div>
        <div class="row container">

        <div class="col-sm-4">

          <center><a class="btn btn-primary rounded" href="/lbdc"><b>Cycling</b><br>Leaderboard</a>
<p>Cover some distance, on wheels that is<br><b>Upload here for cycling</b></p></center>
<div>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="distc">Distance</label>
    <input type="number" name="val" placeholder="Distance cycled in Kilometres">

<br>

    <label for="pic-cycle">Upload picture as proof</label>

      <input type="file" name="fileToUpload" id="fileToUpload">

    <input type="hidden" name="section" value="cycling">
    <input type="submit" value="Submit">
    <br><br>
  </form>

</div>


        </div>
        <div class="col-sm-4">

          <center><a  class="btn btn-primary rounded" href="/lbds"><b>Skipping</b><br>Leaderboard</a>
<p>Train your legs, Get points<br><b>Upload here for Skipping</b></p></center>
<div>


  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="reps">Repeats</label>
    <input type="number" name="val" placeholder="Number of Repeats">


<br>
    <label for="pic-skipping">Upload picture as proof</label>

      <input type="file" name="fileToUpload" id="fileToUpload">

      <input type="hidden" name="section" value="skipping">
    <input type="submit" value="Submit">
    <br><br>
  </form>
</div>
        </div><div class="col-sm-4">

          <center><a href="/lbdr" class="btn btn-primary rounded"><b>Running</b><br>Leaderboard</a>
<p>Run...Miles to go before you reach<br><b>Upload here for Running</b></p></center>
<div>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="distr">Distance</label>
    <input type="number" name="val" placeholder="Distance ran in Kilometres">



<br>
    <label for="pic-running">Upload picture as proof</label>

      <input type="file" name="fileToUpload" id="fileToUpload">

    <input type="hidden" name="section" value="running">
    <input type="submit" value="Submit">
    <br><br>
  </form>
</div>
        </div>
        </div>
      <div class="row">

      </div>
    </div>
  </section>

<%- include('footer2'); -%>
